ion-content.background{
  --background: url(/assets/images/fondo.jpeg) 0 0/100% 100% no-repeat;
}
.carta{
  position: relative;
  top: 22% ;
}

.cora {
  width: 50%; /* Ajusta el ancho al 50% del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  position: relative;
  left: 25%;
}

.Welcome{
  left: 28%;
}

.con1{
  left: 22%;
}
.btn1{
  position: relative;
  left: 15%;
}
.btn2{
  position: relative;
  left: 21%;
}