
<ion-content [fullscreen]="true" class="background" >
  <ion-card class="carta">
    <img  class="cora" src="/assets/images/cora.jpg" />
    <ion-card-header class="Welcome">
      <ion-card-title >Bienvenidos</ion-card-title>
      <ion-card-subtitle>Ingrese a su perfil</ion-card-subtitle>
    </ion-card-header>
  
   
    <ion-button size="small"class="btn1">Registrar</ion-button>
    <ion-button size="small"class="btn2">Ingresar</ion-button>
    <h1></h1>
    <h1></h1>
  </ion-card>
  

</ion-content>
