ion-content.background{
  --background: url(/assets/images/fondo.jpeg) 0 0/100% 100% no-repeat;
}
.carta{
  position: relative;
  top: 22% ;
  background: rgba(255, 255, 255, 0.5); /* Ajusta la transparencia */
  backdrop-filter: blur(-30px); /* Opción para desenfocar el fondo */
  border-radius: 10px; /* Opcional */
  
}

.cora {
  width: 50%; /* Ajusta el ancho al 50% del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  position: relative;
  left: 25%;
}


.con1{
  left: 22%;
}
.btn1{
  position: relative;
  left: 15%;
}
.btn2{
  position: relative;
  left: 21%;
}

ion-card-subtitle{
color: black;
font-size: medium;
text-align: center;
}

ion-card-title{
  font-size: xx-large;
  text-align: center;
}
